*   {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .wrap
    {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    div
    {
        border: 1px;
    }

    div:not(:first-child)
    {
     border-top: none;
    }

    ul
    {
        list-style: none;
        margin: 0;
        padding-left: 0;
        height: 200px;
        background: #141414;
    }

    a 
    {
        text-decoration: none;
        background:#141414;
        color:rgb(251, 255, 0);
        padding:0px 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height:200px;
        display: block;
        border-right: 1px solid #e5ff00;
        border-left: 1px solid #e5ff00;
        -moz-transition: all 0.3s 0.01s ease;
        -o-transition: all 0.3s 0.01s ease;
        -webkit-transition: all 0.3s 0.01s ease;
    }

    a:hover 
    {
        background:#e5ff00cb;
        color:rgb(0, 0, 0);
        line-height:190px;
    }
    
    .logo 
    {
        text-align: center;
        padding-top: 3%;
        margin-top:0;
        width: 150px;
    }
    
    .menu 
    {
        display:flex;
        justify-content: space-between;
        text-align: center;
        text-align-last: center;
        margin-right: auto;
        margin-left: auto;
    }
    
    .menu li 
    {
        flex: 1;
        display: inline;
    }
    .info 
    {

        border: 3px solid rgb(238, 255, 0);
        padding: 10px 20px 10px 20px;
        width: 350px;
        background-color: rgb(19, 19, 19);
        margin-left: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .info2 
    {

        border: 3px solid rgb(238, 255, 0);
        padding: 10px 20px 10px 20px;
        width: 1000px;
        background-color: rgb(19, 19, 19);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    span.otztext1 
    {
        display: block;
        font-size: 30px;
        text-align: center;
        color:rgb(255, 255, 255);
       }
    span.otztext2 
    {
        display: block;
        margin-left: 10px;
        font-size: 18px;
        text-align: left;
        color:rgba(255, 255, 255, 0.692);
        font-style:  italic;
    }
    p.text1 
    {
        display: block;
        font-size: 18px;
        text-align: left;
        color:rgb(255, 255, 255);
    }
    p.twopackword
    {
        display: block;
        font-size: 18px;
        text-align: left;
        color:rgb(0, 0, 0);
        font-style:  italic;
        font-weight: bold;
    }

    p.twopackname
    {
        display: block;
        font-size: 18px;
        text-align: right;
        margin-right: 30px;
        color:rgb(0, 0, 0);
    }

    .info3 
    {
        width: 400px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }